header {
  margin-top: 10px;
  border-bottom: 1px solid #d3d6da;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu-bar__title {
  padding-left: 50px;
  font-weight: bold;
  font-size: 30px;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar__img img {
  width: 20px;
}
